@media (max-width: 380px) {
    .divBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 5%;
        width: 100%;
        padding: 5% 0% 5% 0%;
        .divTexto {
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            flex: 1 0 0;
            .tituloBanner {
                margin: 0px;
                color: #00ACCA;
                text-align: left;
                font-size: 2.4rem;
                font-style: normal;
                line-height: normal;
            }
        .bannerUs {
            display: flex;
            padding: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            width: 80%;
            .componentUs {
                width: 75%;
            }
            .parrafoBanner {
                color: white;
                text-align: left;
                font-size: 1rem;
                font-style: normal;
                line-height: normal;
                text-align: justify;
                width: fit-content;
                font-weight: lighter;
            }
            .divDatos{ 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                justify-items: center;
                .divDato {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 60%;
                    .numero {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 5rem;
                    }
                    .dato {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 1.5rem;
                    }
                    .complemento {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 100;
                        line-height: normal;
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
        }
        .divFantasma {
            display: none;
        }
    }
}
@media (min-width: 381px) and (max-width: 767px) {
    .divBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 5%;
        width: 100%;
        min-width: 381px;
        max-width: 767px;
        padding: 5% 0% 5% 0%;
        .divTexto {
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            .tituloBanner {
                margin: 0px;
                color: #00ACCA;
                text-align: left;
                font-size: 2.4rem;
                font-style: normal;
                line-height: normal;
            }
        .bannerUs {
            display: flex;
            padding: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            width: 80%;
            .parrafoBanner {
                color: white;
                text-align: left;
                font-size: 1rem;
                font-style: normal;
                line-height: normal;
                text-align: justify;
                width: fit-content;
                font-weight: lighter;
            }
            .divDatos{ 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                justify-items: center;
                .divDato {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 90%;
                    .numero {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 5rem;
                    }
                    .dato {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 1.5rem;
                    }
                    .complemento {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 100;
                        line-height: normal;
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
        }
        .divFantasma {
            display: none;
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .divBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 5%;
        width: 100%;
        min-width: 769px;
        max-width: 1023px;
        padding: 5% 0% 5% 0%;
        .divTexto {
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            flex: 1 0 0;
            .tituloBanner {
                margin: 0px;
                color: #00ACCA;
                text-align: left;
                font-size: 2.4rem;
                font-style: normal;
                line-height: normal;
            }
        .bannerUs {
            display: flex;
            padding: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            width: 100%;
            .componentUs {
                width: 75%;
            }
            .parrafoBanner {
                color: white;
                text-align: left;
                font-size: 1.25rem;
                font-style: normal;
                line-height: normal;
                text-align: justify;
                width: fit-content;
                font-weight: lighter;
            }
            .divDatos{ 
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                align-content: center;
                justify-items: center;
                .divDato {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 40%;
                    .numero {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 5rem;
                    }
                    .dato {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 1.5rem;
                    }
                    .complemento {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 100;
                        line-height: normal;
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
        }
        .divFantasma {
            display: none;
        }
    }
}
@media (min-width: 1024px) {
    .divBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: stretch;
        flex-wrap: wrap;
        gap: 5%;
        width: 100%;
        max-width: 1440px;
        min-width: 1024px;
        padding: 5% 0% 5% 0%;
        .divTexto {
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            flex: 1 0 0;
            .tituloBanner {
                margin: 0px;
                color: #00ACCA;
                text-align: left;
                font-size: 2.4rem;
                font-style: normal;
                line-height: normal;
            }
        .bannerUs {
            display: flex;
            padding: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            width: 100%;
            .componentUs {
                width: 75%;
            }
            .parrafoBanner {
                color: white;
                text-align: left;
                font-size: 1.25rem;
                font-style: normal;
                line-height: normal;
                text-align: justify;
                width: fit-content;
                font-weight: lighter;
            }
            .divDatos{ 
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                .divDato {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 40%;
                    .numero {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 5rem;
                    }
                    .dato {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-size: 1.5rem;
                    }
                    .complemento {
                        margin: 0;
                        color: white;
                        text-align: center;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 100;
                        line-height: normal;
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
        }
        .divFantasma {
            display: none;
        }
    }
}



