@media (max-width: 380px) {
  .carruselcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    .prevButton,.nextButton {
      display: flex;
      position: relative;
      background-color: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 2.5rem;
      z-index: 1;
    }
    .prevButton {
      left: -1%;
    }
    
    .nextButton {
      right: -1%;
    }
    }
    
    .carrusel {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
      width: 100%;
      gap: 10%;
      margin: 0px;
  
    }
    .medio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 225px;
      margin: 0px;
      gap: 3%;
      border: 4px solid #00acca;
      border-radius: 0px 0px 15px 15px;
      height: 395px;
      .subImg {
        width: 225px;
        height: 225px;
        margin: 0px;
        background-color: #fff;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.1rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .subservicio {
      display: none;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 310px;
      margin: 0px;
      gap: 3%;
      border: 2px solid white;
      border-radius: 0px 0px 15px 15px;
      height: 400px;
      transform: scale(0.85);
      .subImg {
        width: 310px;
        height: 310px;
        background-color: #fff;
        margin: 0px;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .paginationDot {
      width: 10px; 
      height: 10px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 5px;
      display: inline-block;
      cursor: pointer;
    }
    
    /* Punto de paginación activo */
    .activeDot {
      width: 12px; /* Ancho de cada punto */
      height: 12px; /* Alto de cada punto */
      background-color: #00acca; /* Color de fondo de los puntos inactivos */
      border-radius: 50%; /* Para hacer los puntos circulares */
      margin: 0 5px; /* Espacio entre los puntos */
      display: inline-block;
      cursor: pointer;
    }
    
    /* Contenedor de los puntos de paginación (ajusta según tus necesidades) */
    .pagination {
      text-align: center;
      margin-top: 10px; /* Espacio entre los puntos y el carrusel */
    }

}
@media (min-width: 381px) and (max-width: 767px) {
  .carruselcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    .prevButton,.nextButton {
      display: flex;
      position: relative;
      background-color: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 3rem;
      z-index: 1;
    }
    .prevButton {
      left: -5%;
    }
    
    .nextButton {
      right: -5%;
    }
    }
    
    .carrusel {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
      width: 100%;
      gap: 10%;
      margin: 0px;
  
    }
    .medio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 280px;
      margin: 0px;
      gap: 3%;
      border: 4px solid #00acca;
      border-radius: 0px 0px 15px 15px;
      height: 410px;
      .subImg {
        width: 280px;
        height: 280px;
        margin: 0px;
        background-color: #fff;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.1rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .subservicio {
      display: none;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 310px;
      margin: 0px;
      gap: 3%;
      border: 2px solid white;
      border-radius: 0px 0px 15px 15px;
      height: 400px;
      transform: scale(0.85);
      .subImg {
        width: 310px;
        height: 310px;
        background-color: #fff;
        margin: 0px;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .paginationDot {
      width: 10px; 
      height: 10px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 5px;
      display: inline-block;
      cursor: pointer;
    }
    
    /* Punto de paginación activo */
    .activeDot {
      width: 12px; /* Ancho de cada punto */
      height: 12px; /* Alto de cada punto */
      background-color: #00acca; /* Color de fondo de los puntos inactivos */
      border-radius: 50%; /* Para hacer los puntos circulares */
      margin: 0 5px; /* Espacio entre los puntos */
      display: inline-block;
      cursor: pointer;
    }
    
    /* Contenedor de los puntos de paginación (ajusta según tus necesidades) */
    .pagination {
      text-align: center;
      margin-top: 10px; /* Espacio entre los puntos y el carrusel */
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .carruselcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    .prevButton,.nextButton {
      display: flex;
      position: relative;
      background-color: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 3rem;
      z-index: 1;
    }
    .prevButton {
      left: -10%;
    }
    
    .nextButton {
      right: -10%;
    }
    }
    
    .carrusel {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
      width: 100%;
      gap: 10%;
      margin: 0px;
  
    }
    .medio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 310px;
      margin: 0px;
      gap: 3%;
      border: 4px solid #00acca;
      border-radius: 0px 0px 15px 15px;
      height: 420px;
      .subImg {
        width: 310px;
        height: 310px;
        margin: 0px;
        background-color: #fff;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.2rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .subservicio {
      display: none;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 310px;
      margin: 0px;
      gap: 3%;
      border: 2px solid white;
      border-radius: 0px 0px 15px 15px;
      height: 400px;
      transform: scale(0.85);
      .subImg {
        width: 310px;
        height: 310px;
        background-color: #fff;
        margin: 0px;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .paginationDot {
      width: 10px; 
      height: 10px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 5px;
      display: inline-block;
      cursor: pointer;
    }
    
    /* Punto de paginación activo */
    .activeDot {
      width: 12px; /* Ancho de cada punto */
      height: 12px; /* Alto de cada punto */
      background-color: #00acca; /* Color de fondo de los puntos inactivos */
      border-radius: 50%; /* Para hacer los puntos circulares */
      margin: 0 5px; /* Espacio entre los puntos */
      display: inline-block;
      cursor: pointer;
    }
    
    /* Contenedor de los puntos de paginación (ajusta según tus necesidades) */
    .pagination {
      text-align: center;
      margin-top: 10px; /* Espacio entre los puntos y el carrusel */
    }
}
@media (min-width: 1024px) {
  .carruselcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    .prevButton,.nextButton {
      display: flex;
      position: relative;
      background-color: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 3rem;
      z-index: 1;
    }
    .prevButton {
      left: -10%;
    }
    
    .nextButton {
      right: -10%;
    }
    }
    
    .carrusel {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: row;
      width: 100%;
      gap: 10%;
      margin: 0px;
  
    }
    .medio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 310px;
      margin: 0px;
      gap: 3%;
      border: 4px solid #00acca;
      border-radius: 0px 0px 15px 15px;
      height: 400px;
      .subImg {
        width: 250px;
        height: 250px;
        margin: 0px;
        background-color: #fff;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .subservicio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 310px;
      margin: 0px;
      gap: 3%;
      border: 2px solid white;
      border-radius: 0px 0px 15px 15px;
      height: 400px;
      transform: scale(0.85);
      .subImg {
        width: 250px;
        height: 250px;
        background-color: #fff;
        margin: 0px;
      }
      .subTit {
        margin: 0px;
        padding: 3%;
        color: white;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        line-height: normal;
    }
    }
    .paginationDot {
      width: 10px; 
      height: 10px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 5px;
      display: inline-block;
      cursor: pointer;
    }
    
    /* Punto de paginación activo */
    .activeDot {
      width: 12px; /* Ancho de cada punto */
      height: 12px; /* Alto de cada punto */
      background-color: #00acca; /* Color de fondo de los puntos inactivos */
      border-radius: 50%; /* Para hacer los puntos circulares */
      margin: 0 5px; /* Espacio entre los puntos */
      display: inline-block;
      cursor: pointer;
    }
    
    /* Contenedor de los puntos de paginación (ajusta según tus necesidades) */
    .pagination {
      text-align: center;
      margin-top: 10px; /* Espacio entre los puntos y el carrusel */
    }
}
