@media (max-width: 380px) {
    .divContenedorProp {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap: 3%;
        width: 100%;
        margin-bottom: 45px;
        border-bottom: 2px solid #00acca;
        .divproposito {
            display: flex;
            padding: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10%;
            width: 80%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 1.8rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                padding: 10px;
            }
        }
        .divproposito2 {
            display: flex;
            padding: 5px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 10%;
            width: 80%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 1.8rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                padding: 10px;
            }
        }
    }
}
@media (min-width: 381px) and (max-width: 767px) {
    .divContenedorProp {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap: 3%;
        width: 100%;
        margin-bottom: 45px;
        border-bottom: 2px solid #00acca;
        .divproposito {
            display: flex;
            padding: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10%;
            width: 80%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 1.8rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                padding: 10px;
            }
        }
        .divproposito2 {
            display: flex;
            padding: 5px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 10%;
            width: 80%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 1.8rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                padding: 10px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .divContenedorProp {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 8%;
        width: 100%;
        margin-bottom: 45px;
        border-bottom: 2px solid #00acca;
        .divproposito {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10%;
            flex: 1 0 0;
            width: 80%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 2rem;
                font-style: normal;
                line-height: normal;
                width: 30%;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 1rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                width: 60%;
            }
        }
        .divproposito2 {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10%;
            flex: 1 0 0;
            width: 80%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 2rem;
                font-style: normal;
                line-height: normal;
                width: 30%;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 1rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                width: 60%;
            }
        }
    } 
}
@media (min-width: 1024px) {
    .divContenedorProp {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 8%;
        width: 100%;
        margin-bottom: 45px;
        border-bottom: 2px solid #00acca;
        .divproposito {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10%;
            flex: 1 0 0;
            width: 90%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 2.3rem;
                font-style: normal;
                line-height: normal;
                width: 30%;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                width: 60%;
            }
        }
        .divproposito2 {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10%;
            flex: 1 0 0;
            width: 90%;
            .tituloProp {
                margin: 0px;
                color: #00acca;
                text-align: center;
                font-size: 2.3rem;
                font-style: normal;
                line-height: normal;
                width: 30%;
            }
            .parrafoProp {
                color: white;
                text-align: left;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                text-align: justify;
                width: 60%;
            }
        }
    } 
}

.callBotonBan {
    border: none;
    font-size: 1.6rem;
    margin-top: 3%;
    margin-left: 5%;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    color: #00ACCA;
    background-color: white;
    /* border: 2px solid #00ACCA; */
    transition: 0.3s;
    font-family: "Gotham", sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    width: 40%;
    margin: 20px;
}
.callBotonBan:hover{
    color: white;
    background-color: #00ACCA;
    transform: scale3d(1.1, 1.1, 0.3);
    -webkit-transform: scale3d(1.1, 1.1, 0.3);
    -moz-transform: scale3d(1.1, 1.1, 0.3);
}

.frame {
    margin: 20px;
}
.titulobrief {
    width: 80%;
    margin: 0px;
    color: #00acca;
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    line-height: normal;
}