@media (max-width: 380px) {
  .divContenedorFounders {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 15px;
    height: auto;
    margin-bottom: 25px;
}
.tituloCarrusel {
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  line-height: normal;
}
.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    gap: 5%;
    width: 100%;
  }
  
  .carousel-card {
    flex: 0 0 33.33%;
    transition: transform 0.5s;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .imgFounder {
        width: 180px;
        border-radius: 50%;
    }
    .founderName {
        margin: 0px;
        padding: 4px 10px 4px 10px;
        border-radius: 5px;
        color: white;
        background-color: #00ACCA;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
    .founderRole {
        color: #00ACCA;
        margin: 0px;
        padding: 4px;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
    .founderBack {
        color: white;
        margin: 0px;
        padding: 4px;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
  }
  .carousel-card-small {
    visibility: hidden;
    flex: 0 0 18%;
    transition: transform 0.5s;
    height: 400px;
    .imgFounder {
        width: 150px;
        border-radius: 50%;
    }
    .founderName {
        color: #00ACCA;
        font-size: 1rem;
        margin: 0px;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
  }
  
  .carousel-card.active {
    transform: scale(1.1);
  }
  
  .prevButton,
  .nextButton {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5rem;
    transform: translateY(-50%);
  }
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }

}
@media (min-width: 381px) and (max-width: 767px) {
  .divContenedorFounders {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 15px;
    height: auto;
    margin-bottom: 25px;
}
.tituloCarrusel {
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  line-height: normal;
}
.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    gap: 5%;
    width: 100%;
  }
  
  .carousel-card {
    flex: 0 0 33.33%;
    transition: transform 0.5s;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .imgFounder {
        width: 180px;
        border-radius: 50%;
    }
    .founderName {
        margin: 0px;
        padding: 4px 10px 4px 10px;
        border-radius: 5px;
        color: white;
        background-color: #00ACCA;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
    .founderRole {
        color: #00ACCA;
        margin: 0px;
        padding: 4px;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
    .founderBack {
        color: white;
        margin: 0px;
        padding: 4px;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
  }
  .carousel-card-small {
    visibility: hidden;
    flex: 0 0 18%;
    transition: transform 0.5s;
    height: 400px;
    .imgFounder {
        width: 150px;
        border-radius: 50%;
    }
    .founderName {
        color: #00ACCA;
        font-size: 1rem;
        margin: 0px;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
  }
  
  .carousel-card.active {
    transform: scale(1.1);
  }
  
  .prevButton,
  .nextButton {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5rem;
    transform: translateY(-50%);
  }
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .divContenedorFounders {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 15px;
    height: auto;
    margin-bottom: 25px;
}
.tituloCarrusel {
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  line-height: normal;
}
.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    gap: 5%;
    width: 100%;
  }
  
  .carousel-card {
    flex: 0 0 33.33%;
    transition: transform 0.5s;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .imgFounder {
        width: 180px;
        border-radius: 50%;
    }
    .founderName {
        margin: 0px;
        padding: 4px 10px 4px 10px;
        border-radius: 5px;
        color: white;
        background-color: #00ACCA;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
    .founderRole {
        color: #00ACCA;
        margin: 0px;
        padding: 4px;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
    .founderBack {
        color: white;
        margin: 0px;
        padding: 4px;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
  }
  .carousel-card-small {
    flex: 0 0 18%;
    transition: transform 0.5s;
    height: 400px;
    .imgFounder {
        width: 150px;
        border-radius: 50%;
    }
    .founderName {
        color: #00ACCA;
        font-size: 1rem;
        margin: 0px;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
  }
  
  .carousel-card.active {
    transform: scale(1.1);
  }
  
  .prevButton,
  .nextButton {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5rem;
    transform: translateY(-50%);
  }
  .prevButton {
    left: 33.34%;
  }
  
  .nextButton {
    right: 33.34%;
  }

}
@media (min-width: 1024px) {
  .divContenedorFounders {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 15px;
    height: auto;
    margin-bottom: 50px;
}
.tituloCarrusel {
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}
.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    gap: 10%;
    width: 100%;
  }
  
  .carousel-card {
    flex: 0 0 33.33%;
    transition: transform 0.5s;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .imgFounder {
        width: 200px;
        border-radius: 50%;
    }
    .founderName {
        margin: 0px;
        padding: 4px 10px 4px 10px;
        border-radius: 5px;
        color: white;
        background-color: #00ACCA;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
    .founderRole {
        color: #00ACCA;
        margin: 0px;
        padding: 4px;
        font-size: 1.15rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
    .founderBack {
        color: white;
        margin: 0px;
        padding: 4px;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;

    }
  }
  .carousel-card-small {
    flex: 0 0 18%;
    transition: transform 0.5s;
    height: 400px;
    .imgFounder {
        width: 180px;
        border-radius: 50%;
    }
    .founderName {
        color: #00ACCA;
        font-size: 1rem;
        margin: 0px;
        font-style: normal;
        font-weight: 10;
        line-height: normal;
        text-align: center;
    }
  }
  
  .carousel-card.active {
    transform: scale(1.2);
  }
  
  .prevButton,
  .nextButton {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5rem;
    transform: translateY(-50%);
  }
  .prevButton {
    left: 33.34%;
  }
  
  .nextButton {
    right: 33.34%;
  }

}




