@media (max-width: 380px) {
    .divBanner {
        display: flex;
        width: 100%;
        max-width: 380px;
        align-items: center;
        align-content: center;
        gap: 3%;
        border-bottom: 2px solid #00ACCA;
        .divTexto {
            display: flex;
            padding: 4px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 20px;
            width: 80%;
            height: 100%;
            .tituloBanner {
                margin: 10% 0% 0% 8%;
                color: #00ACCA;
                text-align: left;
                font-size: 1.8rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoBanner {
                color: white;
                margin: 0% 0% 0% 5%;
                font-size: 1.1rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                width: 90%;
                text-align: left;
            }
            .parrafoBanner1 {
                color: white;
                margin: 0% 0% 0% 5%;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                width: 90%;
                text-align: left;
            }
            .callBotonBan  {
                font-size: 1.2rem;
                margin-top: 3%;
                margin-left: 5%;
                margin-bottom: 10%;
                padding: 10px 20px 10px 20px;
                cursor: pointer;
                position: relative;
                transition: 0.2s;
                color: #25252B;
                background-color: #00ACCA;
                border: 2px solid #25252B;
                transition: 0.3s;
                font-family: "Gotham", sans-serif;
                text-align: center;
                font-weight: bold;
                width: 110%;
                border-radius: 50px;
            }
            .callBotonBan:hover{
                color: #00ACCA;
                background-color: white;
                border: 2px solid #00ACCA;
                transform: scale3d(1.1, 1.1, 0.3);
                -webkit-transform: scale3d(1.1, 1.1, 0.3);
                -moz-transform: scale3d(1.1, 1.1, 0.3);
            }
        }
        .divFantasma {
            width: 8%
        }
    }
    .divBanner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        bottom: 0px;
        left: 0;
        background-image: url("https://res.cloudinary.com/dfmsezslx/image/upload/t_IA_2/v1703288970/tc_tecde_oqucnj.png");
        background-repeat: no-repeat;
        background-position: 150px 100px;
        background-size: 100%;
        opacity: 0.5; /* Puedes ajustar este valor según tus necesidades (0 es completamente transparente, 1 es completamente opaco) */
        z-index: -1; /* Coloca el pseudo-elemento detrás del contenido principal */
    }
}
@media (min-width: 381px) and (max-width: 767px) {
    .divBanner {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 3%;
        border-bottom: 2px solid #00ACCA;
        .divTexto {
            display: flex;
            padding: 4px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 20px;
            width: 80%;
            height: 100%;
            .tituloBanner {
                margin: 10% 0% 0% 3%;
                color: #00ACCA;
                text-align: left;
                font-size: 2rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoBanner1 {
                color: white;
                margin: 0% 0% 0% 5%;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                width: 90%;
                text-align: left;
            }
            .parrafoBanner {
                color: white;
                margin: 0% 0% 0% 3%;
                font-size: 1.1rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                width: 90%;
                text-align: left;
            }
            .callBotonBan  {
                font-size: 1rem;
                margin-top: 3%;
                margin-left: 5%;
                margin-bottom: 10%;
                padding: 10px 20px 10px 20px;
                cursor: pointer;
                position: relative;
                transition: 0.2s;
                color: #25252B;
                background-color: #00ACCA;
                border: 2px solid #25252B;
                transition: 0.3s;
                font-family: "Gotham", sans-serif;
                text-align: center;
                font-weight: bold;
                width: 110%;
                border-radius: 50px;
            }
            .callBotonBan:hover{
                color: #00ACCA;
                background-color: white;
                border: 2px solid #00ACCA;
                transform: scale3d(1.1, 1.1, 0.3);
                -webkit-transform: scale3d(1.1, 1.1, 0.3);
                -moz-transform: scale3d(1.1, 1.1, 0.3);
            }
        }
        .divFantasma {
            width: 8%
        }
    }
    .divBanner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        bottom: 0px;
        left: 0;
        background-image: url("https://res.cloudinary.com/dfmsezslx/image/upload/t_IA_2/v1703089628/tc_tecde_zp7jvh.png");
        background-repeat: no-repeat;
        background-position: 150px 100px;
        background-size: 100%;
        opacity: 0.5; /* Puedes ajustar este valor según tus necesidades (0 es completamente transparente, 1 es completamente opaco) */
        z-index: -1; /* Coloca el pseudo-elemento detrás del contenido principal */
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .divBanner {
        display: flex;
        width: 100%;
        min-width: 769px;
        max-width: 1023px;
        align-items: center;
        align-content: center;
        gap: 3%;
        flex-shrink: 0;
        border-bottom: 2px solid #00ACCA;
        .divTexto {
            display: flex;
            padding: 4px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 20px;
            width: 80%;
            height: 100%;
            .tituloBanner {
                margin: 10% 0% 0% 8%;
                color: #00ACCA;
                text-align: left;
                font-size: 2.5rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoBanner1 {
                color: white;
                margin: 0% 0% 0% 5%;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                width: 90%;
                text-align: left;
            }
            .parrafoBanner {
                color: white;
                margin: 0% 0% 0% 5%;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                width: 90%;
                text-align: left;
            }
            .callBotonBan  {
                font-size: 1.2rem;
                margin-top: 3%;
                margin-left: 5%;
                margin-bottom: 10%;
                padding: 10px 20px 10px 20px;
                cursor: pointer;
                position: relative;
                transition: 0.2s;
                color: #25252B;
                background-color: #00ACCA;
                border: 2px solid #25252B;
                transition: 0.3s;
                font-family: "Gotham", sans-serif;
                text-align: center;
                font-weight: bold;
                width: 110%;
                border-radius: 50px;
            }
            .callBotonBan:hover{
                color: #00ACCA;
                background-color: white;
                border: 2px solid #00ACCA;
                transform: scale3d(1.1, 1.1, 0.3);
                -webkit-transform: scale3d(1.1, 1.1, 0.3);
                -moz-transform: scale3d(1.1, 1.1, 0.3);
            }
        }
        .divFantasma {
            display: none;
            width: 20%
        }
    }
    .divBanner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        bottom: 0px;
        left: 0;
        background-image: url("https://res.cloudinary.com/dfmsezslx/image/upload/v1703089628/tc_tecde_zp7jvh.png");
        background-repeat: no-repeat;
        background-position: 350px 100px;
        background-size: 60%;
        opacity: 0.5; /* Puedes ajustar este valor según tus necesidades (0 es completamente transparente, 1 es completamente opaco) */
        z-index: -1; /* Coloca el pseudo-elemento detrás del contenido principal */
    }
}
@media (min-width: 1024px) {
    .divBanner {
        display: flex;
        height: 630px;
        padding: 10px;
        max-width: 1440px;
        min-width: 1024px;
        align-items: center;
        align-content: center;
        gap: 3% 2%;
        flex-shrink: 0;
        align-self: stretch;
        flex-wrap: wrap;
        background: url("https://res.cloudinary.com/dfmsezslx/image/upload/v1703089628/tc_tecde_zp7jvh.png");
        background-repeat: no-repeat;
        background-position: 600px 0px;
        background-size: 55%;
        border-bottom: 2px solid #00ACCA;
        .divTexto {
            display: flex;
            padding: 4px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            flex: 1 0 0;
            width: 70%;
            height: 100%;
            .tituloBanner {
                margin: 10% 0% 0% 10%;
                color: #00ACCA;
                text-align: left;
                font-size: 2.5rem;
                font-style: normal;
                line-height: normal;
            }
            .parrafoBanner1 {
                color: white;
                margin: 0% 0% 0% 10%;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 10;
                line-height: normal;
                width: 90%;
                text-align: left;
            }
            .parrafoBanner {
                color:white;
                margin: 3% 0% 0% 17.5%;
                font-size: 1.2rem;
                font-weight:bolder;
                border-radius: 10px;
                width: 100%;
                padding: 5px;

            }
            .callBotonBan  {
                font-size: 1.2rem;
                margin-top: 3%;
                margin-left: 5%;
                margin-bottom: 10%;
                padding: 10px 20px 10px 20px;
                cursor: pointer;
                position: relative;
                transition: 0.2s;
                color: #25252B;
                background-color: #00ACCA;
                border: 2px solid #25252B;
                transition: 0.3s;
                font-family: "Gotham", sans-serif;
                text-align: center;
                font-weight: bold;
                width: 110%;
                border-radius: 50px;
            }
            .callBotonBan:hover{
                color: #00ACCA;
                background-color: white;
                border: 2px solid #00ACCA;
                transform: scale3d(1.1, 1.1, 0.3);
                -webkit-transform: scale3d(1.1, 1.1, 0.3);
                -moz-transform: scale3d(1.1, 1.1, 0.3);
            }
        }
        .divFantasma {
            display: flex;
            width: 40%
        }
    }
}



